.card {
  position: relative;
}

.card img {
  border-radius: 12px;
  width: 100%;
  display: block;
  border: 2px solid #fff;
}

.card .face {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .face {
  transform: rotateY(0deg);
}
